# This file should be placed at ~/.config/yofi/yofi.config

# ~~Global values, used as fallback if needed
width = 400
height = 400
force_window = true
font = "Google Sans Medium"
font_size = 18
bg_color = 0x181818ff  # ~~colors are specified in 0x242425 format
scale = 1

[input_text]
font_color = 0xf8f8f2ff
bg_color= 0x343434ff
#bg_color = 0x75715e
margin = "5"
padding = "1.7 -4"

[list_items]
font = "Google Sans Medium"
font_color = 0xf8f8f2ff
selected_font_color = 0x88B2F5ff
match_color = 0xe69f66ff
margin = "5 10"
item_spacing = 2
icon_spacing = 5

